<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Todo Detail</h1>
    <p><strong>ID:</strong> {{ .ID }}</p>
    <p><strong>Title:</strong> {{ .Title }}</p>
    <p><strong>Content:</strong> {{ .Content }}</p>
    <a href="/todos" class="btn btn-primary">⇦ Back to Todo List</a>
</div>
</body>
</html>